:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}

input {
  width: 20rem;
  border: none;
  padding: 0.8rem 0;
  border-bottom: 1px solid grey;
  opacity: 0.4;
  outline: none;
}

.container {
  padding: 1rem 4rem;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
  width: 40rem;
  margin-left: 16rem;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40rem;
  position: absolute;
  box-shadow: 0.1rem 0.1rem 2rem grey;
}

label {
  color: #737373;
  opacity: 0.8;
}

.login {
  display: flex;
  flex-direction: column;
}
